@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@font-face {
  font-family: 'BRLNSR';
  src: url("./../fonts/BRLNSR.eot");
  src: local("BRLNSR"), url("./../fonts/BRLNSR.woff") format("woff"), url("./../fonts/BRLNSR.ttf") format("truetype"); }

html {
  scroll-behavior: smooth; }

body {
  margin: 0px;
  width: 100%; }

h1 {
  font-size: 52px !important;
  font-family: BRLNSR;
  font-weight: normal; }

h2 {
  font-size: 32px;
  font-family: BRLNSR;
  font-weight: normal; }

h3 {
  font-size: 22px;
  font-family: "Nunito", sans-serif;
  font-weight: normal; }
  h3.uppercase {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600; }

a {
  color: #f8f8f8 !important; }

p {
  font-size: 19px;
  font-family: "Nunito", sans-serif; }

.header-background-image {
  min-height: 600px;
  margin: 0px;
  padding: 0px;
  background-image: url("../img/efterrättisulkeiset.jpg");
  height: 35vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  min-height: 600px;
  height: 35vw; }

.header-contents {
  top: 20%;
  position: relative;
  color: #f8f8f8;
  text-align: center; }
  .header-contents h1,
  .header-contents h2 {
    margin-top: 2rem;
    margin-bottom: 0.1rem; }

.button-outline {
  color: #f8f8f8;
  text-transform: uppercase;
  padding: 15px 30px;
  margin: 20px;
  border: 3px solid #75c8ff; }
  .button-outline:hover {
    color: #f8f8f8;
    text-decoration: none;
    background-color: #6ea4c8;
    border: 3px solid #6ea4c8; }

.button-solid {
  color: #161d21;
  text-transform: uppercase;
  padding: 18px 33px;
  margin: 20px;
  background-color: #75c8ff; }
  .button-solid:hover {
    color: #161d21;
    text-decoration: none;
    background-color: #6ea4c8; }

.partners {
  background-color: #272f34;
  color: #f8f8f8;
  padding: 30px 3rem 50px 3rem; }
  .partners h2 {
    margin-top: 15px;
    color: #637984; }

.partner-container {
  display: flex;
  align-items: center;
  margin: 15px 20px; }

.partner-image {
  width: 200px;
  display: inline-block; }

.main-partner-image {
  width: 200px;
  display: inline-block; }

.middle-image {
  background-image: url("../img/heitästrobovoltti.jpg");
  height: 35vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.lafkat {
  text-align: left; }
  .lafkat h3 {
    font-size: 22px; }

.header-button-row {
  display: flex;
  justify-content: center; }

.circle {
  background: #637984;
  border-radius: 50%;
  color: #fff;
  height: 0;
  padding-bottom: 350px;
  width: 350px; }

.circle-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 22%;
  padding: 30px; }

.circle-container {
  display: flex;
  align-items: center; }

.old-spexes {
  background-color: #161d21;
  color: #6ea4c8; }
  .old-spexes h2 {
    text-align: center; }

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #637984;
  color: #f8f8f8;
  padding: 40px 0; }
  .footer-container a {
    margin-bottom: 20px; }
  .footer-container .footer-header {
    width: 100%;
    text-align: center;
    margin-bottom: 25px; }
  .footer-container .footer-column {
    padding: 15px; }
    .footer-container .footer-column p {
      font-size: 16px; }
    .footer-container .footer-column h3 {
      font-size: 18px; }

.grid-container {
  display: flex;
  flex-direction: column; }

.production-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #161d21;
  color: #f8f8f8;
  padding: 72px 10%; }
  .production-container h3 {
    color: #6ea4c8; }
  .production-container .production-shows {
    width: 45%; }
    .production-container .production-shows table {
      width: 100%;
      border: 3px solid #1e6680;
      font-family: "Nunito", sans-serif;
      font-size: 18px;
      margin-bottom: 40px; }
      .production-container .production-shows table .muted-text {
        font-size: 18px; }
      .production-container .production-shows table tr td {
        padding: 20px 10px 50px 10px;
        vertical-align: top; }
        .production-container .production-shows table tr td.list {
          line-height: 35px; }
      .production-container .production-shows table tr td:first-child {
        width: 45%;
        background-color: #1e6680; }
        .production-container .production-shows table tr td:first-child .icon {
          width: 20px;
          margin: -5px 5px 0 5px; }
      .production-container .production-shows table tr td:last-child {
        padding: 20px 10px 50px 40px; }
  .production-container .production-story {
    width: 49%; }
    .production-container .production-story p a {
      color: #6ea4c8 !important; }
    .production-container .production-story table {
      margin-top: 70px;
      width: 100%;
      font-family: "Nunito", sans-serif;
      font-size: 18px; }
      .production-container .production-story table tr th {
        background-color: #1e6680;
        text-transform: uppercase;
        font-weight: 500;
        padding: 15px 20px; }
      .production-container .production-story table tr td {
        text-align: right;
        padding: 20px 0px;
        border-bottom: 1px solid #1a252b; }
        .production-container .production-story table tr td .buy-button {
          background-color: #6ea4c8;
          padding: 10px;
          color: #161d21;
          text-transform: uppercase;
          font-size: 14px; }
          .production-container .production-story table tr td .buy-button:hover {
            text-decoration: none;
            background-color: #8bc2e6; }
      .production-container .production-story table tr td:first-child {
        text-align: left;
        padding-left: 5px; }
  .production-container .production-header {
    width: 100%;
    text-align: center;
    margin-bottom: 70px; }

.partners {
  display: flex;
  flex-wrap: wrap; }
  .partners h2 {
    width: 100%; }

.general-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #272f34;
  color: #f8f8f8;
  padding: 92px 5rem; }
  .general-container .general-info {
    width: 50%; }
    .general-container .general-info h2 {
      color: #6ea4c8;
      margin-bottom: 32px; }

.muted-text {
  color: #637984 !important;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-style: italic; }

.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  background: none;
  background: rgba(0, 0, 0, 0);
  position: fixed !important;
  width: 100%; }

.navbar-toggler {
  border-color: #404e56 !important; }
  .navbar-toggler:focus {
    outline: none; }

.navbar.scrolled {
  background: #444444;
  /* IE */
  background: rgba(0, 0, 0, 0.78) !important;
  /* NON-IE */ }

.navbar-brand {
  font-family: BRLNSR; }

.nav-link {
  color: #f8f8f8 !important;
  font-family: "Nunito", sans-serif;
  font-weight: 600; }

.speksi-logo {
  width: 27px;
  margin: 0 5px; }

.fb-logo {
  width: 30px;
  margin-top: -3px;
  margin-right: 5px; }

.ig-logo {
  width: 30px;
  margin-top: -3px;
  margin-right: 5px; }

.some-link {
  color: #f8f8f8; }
  .some-link:hover {
    color: #6ea4c8; }

a.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden; }

@media screen and (max-width: 992px) {
  .production-shows {
    width: 100% !important; }
  .production-story {
    width: 100% !important; }
  .general-info {
    width: 100% !important; }
  .navbar {
    background: rgba(0, 0, 0, 0.78); }
  .tickets-table {
    margin-bottom: 60px; }
  .production-container {
    padding: 52px 1rem;
    flex-direction: column-reverse; }
    .production-container .production-header {
      display: none; }
  .general-container {
    padding: 52px 2rem; }
  .main-partner-image {
    width: 100px; }
  .partners {
    padding: 30px 1rem 50px 1rem; }
    .partners .main-partner-image {
      width: 100px; }
    .partners .partner-image {
      width: 150px; }
    .partners .lafkat h3 {
      font-size: 16px; } }

@media screen and (max-width: 600px) {
  .tickets-table {
    font-size: 16px !important; }
    .tickets-table .weekday-td {
      width: 30px; }
  .footer-column {
    width: 80%;
    margin: 0 10%; } }
