// Palette
$dark-blue: #1e6680;
$light-blue: #6ea4c8;
$white: #f8f8f8;
$grey: #161d21;
$light-grey: #272f34;
$lighter-grey: #404e56;
$lightest-grey: #546771;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
$font-sans-serif: 'Nunito', sans-serif;



// Styles
body {
  margin: 0px;
}

p {
  font-size: 19px;
  font-family: $font-sans-serif;
}

.header-background-image {
  margin: 0px;
  padding: 0px;
  background-image: url('../img/efterrättisulkeiset.jpg');
  height: 35vw; 
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-contents {
  top: 20%;
  position: relative;
  color: $white;

  h1, h2, p {
    text-align: center;
  }
}

.production {
  background-color: $grey;
  color: $white;
  padding: 3rem;

  .production-header {
    text-align: center;
  }

  h3 {
    color: $light-blue;
  }
}

.partners {
  background-color: $light-grey;
  color: $white;

  h2 {
    color: $lightest-grey;
  }

  padding: 3rem;
}

.partner-image {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-partner-image {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.middle-image { 
  // Path relative to css-file
  background-image: url('../img/heitästrobovoltti.jpg');
  height: 35vw; 
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.general {
  background-color: $light-grey;
  color: $white;
  padding: 5rem;
}

.lafkat {
  text-align: left;
}

.circle-container {
  padding-left: 20%;
}

.circle {
  background: $lightest-grey;
  border-radius: 50%;
  color: #fff;
  height: 0;
  padding-bottom: 350px;
  width: 350px;
}

.circle-text {
  float: left;
  line-height: 1;
  margin-top: -3.5rem;
  padding-top: 50%;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.old-spexes {
  background-color: $grey;
  color: $light-blue;

  h2 {
    text-align: center;
  }
}

.footer {
  background-color: $lightest-grey;
  color: $white;
  
  h2 {
    text-align: center;
  }
}

.fk-contacts, .some-contacts, .email-contacts {
  padding: 3rem;
}


// Layout
.header { grid-area: header; }
.production-container { grid-area: production; }
.partners { grid-area: partners; }
.diskoaateliset { grid-area: image; }
.general-container { grid-area: general; }
.old-spexes { grid-area: old-spexes; }
.footer-container { grid-area: footer; }

.general-info { grid-area: info; }
.circle-container { grid-area: circle; }


// TODO consider adding all positioning to same grid template
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'production production production production production production'
    'partners partners partners partners partners partners'
    'image image image image image image'
    'general general general general general general'
    'old-spexes old-spexes old-spexes old-spexes old-spexes old-spexes'
    'footer footer footer footer footer footer'
}


.production-header { grid-area: production-header; }
.production-story { grid-area: story; }
.production-shows { grid-area: shows; }

.production-container {
  display: grid;
  grid-template-areas:
    'production-header production-header production-header production-header production-header production-header'
    'shows shows shows story story story'
}

.partners-header { grid-area: partners-header; }
.main-partners-header { grid-area: main-partners-header; }
.lafkat-header { grid-area: lafkat-header; }
.reddal { grid-area: reddal; }
.vtt { grid-area: vtt; }
.aw { grid-area: aw; }
.ideastructura { grid-area: ideastructura; }
.unisport { grid-area: unisport; }
.espoo { grid-area: espoo; }
.kulttuuriespoo { grid-area: kulttuuriespoo; }
.lafkat { grid-area: lafkat; }

.partners {
  display: grid;
  grid-template-areas:
  'main-partners-header main-partners-header main-partners-header main-partners-header main-partners-header main-partners-header'
  'reddal reddal reddal vtt vtt vtt'
  'partners-header partners-header partners-header partners-header partners-header partners-header'
  'aw aw ideastructura ideastructura unisport unisport'
  'espoo espoo kulttuuriespoo kulttuuriespoo . .'
  'lafkat-header lafkat-header lafkat-header lafkat-header lafkat-header lafkat-header'
  'lafkat lafkat lafkat lafkat lafkat lafkat'
}

.general-info { grid-area: info; }
.circle-container { grid-area: circle; }


.general-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
    '. info info circle circle .'
}

.footer-header { grid-area: footer-header }
.some-contacts { grid-area: some; }
.email-contacts { grid-area: email; }
.fk-contacts { grid-area: fk; }

.footer-container {
  display: grid;
  grid-template-areas:
    'footer-header footer-header footer-header footer-header footer-header footer-header'
    '. some email email fk .'
}

